In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv');
df.head();

In [3]:
df.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1

In [4]:
train_X = df

In [5]:
train_X.drop(["id"], axis=1, inplace=True)

In [6]:
train_X.drop(["title"], axis=1, inplace=True)

In [7]:
train_X.drop(["Offer %"], axis=1, inplace=True);
train_Y = df["price1"];
train_X.drop(["price1"], axis=1, inplace=True);

In [8]:
train_X.head()

,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,3.9,Women,Flipkart,999,38.0,7.0,17.0,9.0,6.0,3,3,0
1,3.8,Men,Flipkart,1999,531.0,69.0,264.0,92.0,73.0,29,73,1
2,4.4,Women,Flipkart,4999,17.0,4.0,11.0,3.0,2.0,1,0,1
3,4.2,Men,Flipkart,724,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,3.9,Men,Flipkart,2299,77.0,3.0,35.0,21.0,7.0,7,7,1

In [9]:
train_Y.shape

(15730,)

In [10]:
train_X.isna().sum()

Rating          0
maincateg     526
platform        0
actprice1       0
norating1     678
noreviews1    578
star_5f       588
star_4f       539
star_3f       231
star_2f         0
star_1f         0
fulfilled1      0
dtype: int64

In [11]:
train_X['maincateg'].fillna(train_X['maincateg'].mode()[0], inplace = True)

In [12]:
train_X['norating1'].fillna(train_X['norating1'].mean(), inplace = True);
train_X['noreviews1'].fillna(train_X['noreviews1'].mean(), inplace = True);
train_X['star_5f'].fillna(train_X['star_5f'].mean(), inplace = True)
train_X['star_3f'].fillna(train_X['star_3f'].mean(), inplace = True)
train_X['star_4f'].fillna(train_X['star_4f'].mean(), inplace = True)

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import StandardScaler

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [15]:
train_X = pd.get_dummies(train_X)

In [16]:
train_Y.shape

(15730,)

In [17]:
scaler = StandardScaler()
scaler2 = StandardScaler()
X = scaler.fit_transform(train_X)

In [18]:
model = RandomForestClassifier(n_estimators=40)
model.fit(X,train_Y);

In [19]:
df2 = pd.read_csv('test.csv');
df2.drop(["title"], axis=1, inplace=True)
tmp = df2['id'];
df2.drop(["id"], axis=1, inplace=True)

In [20]:
df2.isna().sum()

Rating        203
maincateg      67
platform        0
actprice1       0
norating1       0
noreviews1      0
star_5f        68
star_4f         0
star_3f         0
star_2f         0
star_1f       186
fulfilled1      0
dtype: int64

In [21]:
df2['norating1'].fillna(df2['norating1'].mean(), inplace = True);
df2['noreviews1'].fillna(df2['noreviews1'].mean(), inplace = True);
df2['star_5f'].fillna(df2['star_5f'].mean(), inplace = True)
df2['star_3f'].fillna(df2['star_3f'].mean(), inplace = True)
df2['star_4f'].fillna(df2['star_4f'].mean(), inplace = True)
df2['star_1f'].fillna(df2['star_1f'].mean(), inplace = True)
df2['maincateg'].fillna(df2['maincateg'].mode()[0], inplace = True)
df2['Rating'].fillna(df2['Rating'].mean(), inplace = True)

In [22]:
df2 = pd.get_dummies(df2);
df2.head();

In [23]:
df2.head()

,Rating,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,maincateg_Men,maincateg_Women,platform_Amazon,platform_Flipkart
0,3.8,999,27928,3543,14238.0,4295,3457,1962,3976.0,1,1,0,0,1
1,3.9,499,3015,404,1458.0,657,397,182,321.0,1,0,1,0,1
2,3.9,999,449,52,229.0,70,71,33,46.0,1,0,1,0,1
3,3.9,2999,290,40,141.0,51,49,17,32.0,1,1,0,0,1
4,3.9,999,2423,326,1265.0,414,293,143,308.0,0,1,0,0,1

In [24]:
X_test = scaler.fit_transform(df2)

In [25]:
model.score(X,train_Y)

0.9530197075651621

In [26]:
pred = model.predict(X_test);

In [27]:
pred.shape

(5244,)

In [28]:
ans = pd.DataFrame()

In [29]:
ans['id'] = tmp

In [30]:
ans['price1'] = pred2

NameError: name 'pred2' is not defined

In [ ]:
ans.head()

In [ ]:
ans.to_csv('ans.csv', index=False)

In [ ]:
model2 = LinearRegression()
model2.fit(X,train_Y);

In [ ]:
model2.score(X,train_Y)

In [ ]:
pred2 = model2.predict(X_test)